* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
}
ul {
  list-style: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.logo {
  display: flex;
  align-items: center;
}
form {
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}
form input,
form select {
  font-family: "Forum", serif;
  color: inherit;
  padding: 10px;
  border-radius: 5px;
  width: 220px;
}
form input:first-child {
  flex-grow: 1;
}
.fact-form {
  display: none;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.aside_button {
  margin: 10px;
  padding: 10px;
}
.fact {
  line-height: 1.4;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border: 2px solid #f3f4f6;
  border-radius: 1px;
}
@media (max-width: 900px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
  }
}
h1 {
  font-family: "Montserrat", serif;
  font-style: normal;
  margin-left: 10px;
}
.tag {
  font-size: small;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  width: auto;
  height: auto;
}
.vote-button {
  margin-left: auto;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}
.vote-button button {
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: small;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.vote-button button:hover {
  transform: scale(120%);
  background-color: #e5e7eb;
  cursor: pointer;
  transition: 0.3s;
}
.source:link,
.source:visited {
  color: grey;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
}

.source:hover,
.source:active {
  color: blue;
}

.btn {
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  padding: 6px 0 6px;
  background-color: black;
  color: azure;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}
.btn-all-category {
  font-size: 18px;
  width: 100%;
  margin-bottom: 16px;
}

.btn-large {
  font-size: 18px;
  width: 150px;
}
.btn-category {
  margin-bottom: 10px;
  width: 100%;
  background-image: none;
}
.btn:hover {
  transform: scale(110%) rotate(-1deg);
}
