{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="page-content">

  <div class="header-section">
    <div class="header-group">
        <button type="button" class="back-link-btn" onclick="location.href='{% url 'home'%}'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="30" height="30">
        <path fill="currentColor" d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm120-160L360-480l240-160v320Z"/>
    </svg>
        </button>
        <h2 class="page-title">{{ db_type|title }} Connections</h2>
    </div>
      <button type="button" class="btn-connect-plus" onclick="location.href='{% url 'add_connection_url' db_type %}'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24">
        <path fill="currentColor" d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
    </svg>
    Add {{ db_type|title }} Connection
</button>

</div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="col-sno">S.No</th>
                    <th class="col-dbname">Database Name</th>
                    <th class="col-actions">Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for con in connections %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="db-identifier">{{ con.name }}</td>
                    <td>
                        <div class="actions-wrapper">
                            <button type="button" class="action-btn edit" title="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="25" height="25">
                                <path fill="currentColor" d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                            </svg>
                            </button>
                            <button type="button" class="action-btn delete" title="Delete" onclick="confirmDelete()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="25" height="25">
                                <path fill="currentColor" d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                            </svg>
                            </button>
                            <div class="action-divider"></div>
                            <button type="button" class="action-btn execute" title="Query Console">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="25" height="25">
                                <path fill="currentColor" d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm120-80 120-120-120-120-56 56 64 64-64 64 56 56Zm200 0h160v-80H480v80Z"/>
                            </svg>
                            </button>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" style="text-align:center;">No {{ db_type }} connections found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}