<div style="position: relative; width: 100%; display: flex; align-items: center; margin-bottom: 15px;">
  <input type="password" name="password" id="myInput" style="width: 100%; padding: 10px 30px 10px 10px;border: 1px solid #1c2430; border-radius: 5px;transition: border 0.2s; box-sizing: border-box;">
  <span onclick="togglePassword()" id="eye-container"
        style="position: absolute; right: 12px; display: flex; align-items: center; color: #6b7280; cursor: pointer; user-select: none;">
    <svg id="eye-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>6
      <circle cx="12" cy="12" r="3"></circle>
    </svg>
  </span>
</div>